div.dz-image>img {
    height: -webkit-fill-available;
    object-fit: cover;
    width: -webkit-fill-available;
}

.transparent-input {
    background: transparent;
    border: none;
    outline: none;
}

.transparent-input::placeholder {
    color: #ddd;
    font-weight: 300;
}

.profile-size {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


#file-input {
    display: none;
}