div.dz-image>img {
    height: -webkit-fill-available;
    object-fit: cover;
    width: -webkit-fill-available;
}


.profile-size{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


  #file-input {
    display: none;
  }
